/*HEADER (Contenedor principal de la cabecera)*/
.main-header {
    font-family: Arial, sans-serif;
    background: #fff;
    display: flex;
    justify-content: space-between; /*Distribuye los elementos: uno al inicio, otro al centro y otro al final*/
    align-items: center; /*Centra verticalmente los elementos del header*/
    padding: 15px 5%; /*Relleno de 15px arriba/abajo y 5% a los laterales*/
    border-bottom: none;
}
/*--BARRA DE BÚSQUEDA--*/
.search-container {
    display: flex;
    align-items: center;
    position: relative; /*Para posicionar la lupa adentro*/
    flex: 1; 
    max-width: 700px;
    margin: 0 40px;
}
.search-bar {
    width: 100%; /*Ocupa todo el ancho del contenedor*/
    padding: 8px 40px 8px 15px; /*Agregamos 40px a la derecha para que el texto no pise la lupa*/
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    outline: none; /*Quita el borde azul por defecto al hacer click*/
}
.search-icon {
    position: absolute;
    right: 15px; /* La separa del borde derecho */
    color: #888;
    pointer-events: none; /* Si el usuario hace click en la lupa, el foco va al input */
}

/*--ESTILO DEL LOGO--*/
.logo {
  font-size: 24px; /* Tamaño de la letra */
  font-weight: bold; /* Grosor de la letra (negrita) */
  color: rgb(80, 165, 180); /* Color azul/verdoso principal */
}

/* Parte específica del logo (segunda palabra) */
.logo span {
  color: rgb(79, 189, 199); /* Un tono de azul ligeramente distinto para resaltar */
}

/*--CARRITO Y USUARIO--*/
.header-icons {
  display: flex; /*Alinea los iconos en fila*/
  align-items: center;
  gap: 25px; /*Espacio entre cada icono*/
}

/* Contenedor del carrito para posicionar la notificación */
.cart-wrapper {
  position: relative; /*Para que la burbuja roja se posicione respecto a este contenedor*/
  font-size: 22px; 
  cursor: pointer;
}

/* Imagen del icono del carrito */
.cart-icon-img {
    width: 25px; /* Tamaño fijo de ancho */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block;
}

/*Burbuja roja de notificación*/
.cart-badge {
  position: absolute; /*Se despega del flujo normal para ubicarse con top/right*/
  top: -8px; /*Mueve la burbuja un poco hacia arriba*/      
  right: -10px; /*Mueve la burbuja un poco hacia la derecha*/
  background-color: #e63946;
  color: white;
  font-size: 10px;
  font-weight: bold;
  height: 16px;
  width: 16px;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Icono del Usuario*/
.user-profile {
    display: flex;
    align-items: center;
    gap: 8px; /*Crea un espacio automático entre el icono y el texto*/
    cursor: pointer;
}
.user-icon {
    font-size: 1.2rem; /*Ajusta el tamaño del icono*/
    color: #333;
}