<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio - MiEcommerce</title>
        <link rel="stylesheet" href="/CSS/header.css">
        <link rel="stylesheet" href="/CSS/footer.css">
        <link rel="stylesheet" href="/CSS/index.css">
    </head>

    
    <body>
       
       <!-- HEADER -->
    <%- include('../partials/header') %>

    <!-- CONTENIDO PRINCIPAL -->
    <main>
        <h2>Bienvenido a MiEcommerce</h2>
        <p>Acá van tus productos, banners, etc.</p>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>

    </body>


</html>