<%- include('../partials/header') %>
<link rel ="stylesheet" href="/css/cart.css">
<link rel="stylesheet" href="/css/product.css">
<main class="contenedor-detalle">
    <nav class="breadcrumb">
        <a href="#">Volver al listado</a> | <a href="#">Alimentos</a>
    </nav>

    <section class="producto-principal">
        <div class="galeria-fotos">
            <div class="miniaturas">
                <img src="Imagenes-productos/productos1.png" alt="thumb">
                <img src="Imagenes-productos/productos2.png" alt="thumb">
                <img src="Imagenes-productos/productos3.png" alt="thumb">
            </div>
            <div class="foto-grande">
                <img src="Imagenes-productos/Jack Daniels.jpg" alt="Whiskey Jack Daniels">
            </div>
        </div>
             
        <div class="info-compra">
            <h1>Whiskey Jack Daniels Honey 750ml</h1>
            <div class="precio-puntos">
                <span class="monto">19.900</span>
                <span class="label-puntos">PUNTOS</span>
            </div>
            
            <button class="btn-agregar">Agregar al Carrito</button>

            <div class="texto-descripcion">
                <p>Un verdaderamente fabuloso licor de whiskey Jack Daniels. Está hecho con una mezcla de ricas especias y suave miel tersa y el resultado es delicioso sobre hielo o café.</p>
                <p><strong>Aroma:</strong> de caramelo y roble carbonizado, un poco de flor de naranja, miel de manuka y vainilla.</p>
                <p><strong>Boca:</strong> grueso y cremoso, con notas de vainilla, roble tostado, miel de nuevo, un poco de albaricoque también.</p>
                <p><strong>Acabado:</strong> De buena longitud - redondeado y rico.</p>
                <p><small>No incluye vasos, la foto es solo ilustrativa.</small></p>
            </div>
        </div>
    </section>

    <section class="relacionados">
        <h3>También te puede interesar</h3>
        <div class="grilla-productos">
    <div class="tarjeta-chica">
        <img src="/Imagenes-productos/lata-cocacola.png" alt="Coca Cola">
        <div class="cuerpo-tarjeta">
            <p class="nombre-relacionado">Coca Cola Lata 220ml Pack Original x8</p>
            <div class="precio-relacionado">
                <span class="puntos">760</span>
                <span class="label">PUNTOS</span>
            </div>
        </div>
    </div>

    <div class="tarjeta-chica">
        <img src="/Imagenes-productos/productos4.png" alt="Producto 2">
        <div class="cuerpo-tarjeta">
            <p class="nombre-relacionado">Nombre del producto o servicio</p>
            <div class="precio-relacionado">
                <span class="puntos">xx.xxxx</span>
                <span class="label">Puntos</span>
            </div>
        </div>
    </div>

    <div class="tarjeta-chica">
        <img src="/Imagenes-productos/productos4.png" alt="Producto 3">
        <div class="cuerpo-tarjeta">
            <p class="nombre-relacionado">Nombre del producto o servicio</p>
            <div class="precio-relacionado">
                <span class="puntos">xx.xxx</span>
                <span class="label">Puntos</span>
            </div>
        </div>
    </div>

    <div class="tarjeta-chica">
        <img src="/Imagenes-productos/productos4.png" alt="Producto 4">
        <div class="cuerpo-tarjeta">
            <p class="nombre-relacionado">Nombre del producto o servicio</p>
            <div class="precio-relacionado">
                <span class="puntos">xx.xxx</span>
                <span class="label">Puntos</span>
            </div>
        </div>
    </div>
</div>
    </section>

    <section class="barra-categorias-oscura">
        <div class="item-cat"><img src="/imagenesBarraDeCategorias/electronica.png"><p>Electrónica</p></div>
        <div class="item-cat"><img src="/imagenesBarraDeCategoriasr/alimentos.png"><p>Alimentos</p></div>
        <div class="item-cat"><img src="/imagenesBarraDeCategorias/bebidas.png"><p>Bebidas</p></div>
        <div class="item-cat"><img src="/imagenesBarraDeCategorias/indumentaria.png"><p>Indumentaria</p></div>
        <div class="item-cat"><img src="/imagenesBarraDeCategorias/juegos.png"><p>Juegos</p></div>
        <div class="item-cat"><img src="/imagenesBarraDeCategorias/automotor.png"><p>Automotor</p></div>
        <div class="item-cat"><img src="/imagenesBarraDeCategorias/hogar.png"><p>Hogar</p></div>
        <div class="item-cat"><img src="/imagenesBarraDeCategorias/otros.png"><p>Otros</p></div>
    </section>
</main>

<%- include('../partials/footer') %>
