<!--FOOTER-->
            <footer class="site-footer">
                <!--ENLACES A REDES SOCIALES-->
                <div class="social-icons">
                    <a href="https://twitter.com" target="_blank">
                        <img src="/Imagenes-footer/twitter.png" alt="Twitter" class="icon">
                    </a>
                    <a href="https://facebook.com" target="_blank">
                         <img src="/Imagenes-footer/facebook.png" alt="Facebook" class="icon">
                    </a>
                    <a href="https://instagram.com" target="_blank">
                        <img src="/Imagenes-footer/instagram.png" alt="Instagram" class="icon">
                    </a>
                    <a href="https://youtube.com" target="_blank">
                        <img src="/Imagenes-footer/youtube.png" alt="YouTube" class="icon">
                    </a>
                </div>

                <p>© MiEcommerce. Todos los derechos reservados.</p>
                <!--ENLACES A TIENDAS DE APP-->
                <div class="app-links">
                    <a href="https://www.apple.com/es/store">
                        <img src="/Imagenes-footer/apple.png" alt="App Store" class="store-icon">
                    </a>  
                    <a href="https://play.google.com">
                        <img src="/Imagenes-footer/google-play.png" alt="Google Play" class="store-icon">
                    </a>
                </div>
            </footer>