<!--ENCABEZADO CON LOGO Y BUSCADOR-->
        <header class="main-header">
            <h1 class="logo">Mi<span>Ecommerce</span></h1>
            <div class="search-container">
                <input type="text" placeholder="Buscar productos..." class="search-bar">
                <i class="fas fa-search search-icon"></i>
            </div>
            
            <!-- Iconos de usuario y carrito -->
            <div class="header-icons">
                <a href="/product" class="link-productos-header">Productos</a>
                    <div class="cart-wrapper">
                        <a href="/product/cart" style="color: inherit; text-decoration: none;">
                            <i class="fas fa-shopping-cart"></i><span class="cart-badge">3</span>
                        </a>
                    </div>
                <div class="user-profile">
                    <i class="fas fa-user user-icon"></i>
                    <span>Usuario</span>
                </div>
            </div>
        </header>


