<!--ENCABEZADO CON LOGO Y BUSCADOR-->
        <header class="main-header">
            <h1 class="logo">Mi<span>Ecommerce</span></h1>
            <input type="text" placeholder="Buscar productos..." class="search-bar">
            
            <!-- Iconos de usuario y carrito -->
            <div class="header-icons">
                <div class="cart-wrapper">
                    <img src="/Imagenes-footer/shopping-cart.png" alt="Carrito" class="cart-icon-img">
                    <i class="fas fa-shopping-cart"></i><span class="cart-badge">3</span>
                </div>
                <div class="user-profile">
                    <img src="/Imagenes-footer/user.png" alt="Perfil" class="cart-icon-img">
                    <span>Usuario</span>
                </div>
            </div>
        </header>